@import "../../styles/default.scss";

.navbar {
  padding: 20px;
  background-color: #0746a6;
  color: white;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.search-field {
  padding: 5px 10px 5px 0px;
  background-color: #3a6bb8;
  width: 550px;

  .input-field,
  input {
    background-color: transparent;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fbfbf577;
      opacity: 1; /* Firefox */
    }
  }
}

.action-buttons {
  display: flex;
  align-items: center;
}

.request-quote {
  background-color: transparent;
  color: white;
  border: 1px solid white !important;
  transition: 0.3s;
  margin-right: 10px;

  &:hover {
    background-color: white;
    color: #0746a6;
  }
}

.book-shipment {
  background-color: #5cc685;
}
